<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods">
  <test name="chrometest">
  <parameter name="Browser" value="f1"></parameter>
    <classes>
      <class name="Browser.Browser.ScreenTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="FireFox">
  <parameter name="Browser" value="f1"></parameter>
    <classes>
      <class name="Browser.Browser.ScreenTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
