<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests">
  <test name="CrossTest">
  <parameter name="Browser" value="Chrome"></parameter>
  <parameter name="Author"  value="Jesus"></parameter>
  <parameter name="Author" value="God"></parameter>
  <classes>
  <class name="Browser.CrossBrowser"></class>
  </classes>
  
  
  </test> <!-- CrossTest -->

<test name="FireTest">
  <parameter name="Browser" value="FireFox"></parameter>

<classes>

  <class name="Browser.CrossBrowser"></class>

</classes>

</test>
</suite> <!-- Suite -->
